{% extends "base.html" %}
{% block tcontent%}SAASGo | Home{%endblock%}
{% block content%}
<h1 class="shadow" >Presentation</h1>
<h2>&nbsp;</h1>
<h2> SAAS Go, by Thomas Gust</h1>
<img src="static/cardinal.png" style="width:300px;height:300px;">
<h2>&nbsp;</h2>
<h2 class="shadow" >The Problem</h2>
<div class="a">
    <div>
    <h5>The lunch line at SAAS is quite slow. Most of the time in the lunch line comes from people needing to scan their cards at the front, or forgetting their cards entirely and needing to put in their number.</h5>
    <img src="static/TRUECOPYCARD.jpg">
    </div>
    <div>
    <h5>SAASGo aims to fix this problem by utilizing cutting edge AI technology, and the emulation of Amazon Go stores (I'm really bad at naming things).</h5>
    </div>
    <h5>Students only need to give one image of their face to the SAASGo system, and they will never need to scan those pesky cards again!</h5>
    <div>
    <h5>&nbsp;</h5>
    <h5>Do I have any volunteers for a demonstration?</h5>
    </div>
    <img src="static/ThomasBeingDetected.png" style="width:500;height:300px;">

    <div>
        <h2 class="shadow">
            Code Demo/Explanation
        </h2>
        <h5>Server.py file!:</h5>
        <pre class="prettyprint">
            from flask import Flask, render_template, Response, request, session, redirect, url_for, flash
            from flask_sqlalchemy import SQLAlchemy
            import cv2
            import numpy as np
            from face_recognition import FaceRecognition
            import hashlib
            from config import DevelopmentConfig
            from utils import *
            from models import get_models


            app = Flask(__name__)


            app.config.from_object(DevelopmentConfig())

            db = SQLAlchemy(app)


            jmods, users = get_models(db=db)

            @app.route("/")
            @app.route("/home")
            def index():
                try:
                    if session['username']:
                        return render_template("index.html")
                    else:
                        return(redirect(url_for("sign_in")))
                except Exception as e:
                    print(e)
                    return(redirect(url_for("sign_in")))


            @app.route("/video")
            def video():
                jm = jmods.query.get(session['umodi'])
                return Response(generate_frames(mjson=jm.model, mdt=jm.mdt), mimetype="multipart/x-mixed-replace; boundary=frame")


            @app.route("/model-dashboard")
            def model_dashboard():
                if session['username']:
                    models = jmods.query.filter_by(created_by=session['username']).all()
                    return render_template("model_dashboard.html", models=models)
                else:
                    return(redirect(url_for("sign_in")))

            @app.route("/add-model", methods=["GET", "POST"])
            def add_model():
                if request.method == "POST":
                    if request.files:
                        d = request.form.to_dict()
                        files = request.files.getlist("images")
                        print(files)
                        imgs = []

                        for file in files:
                            if file.filename == "":
                                print("FILE MUST HAVE A FILENAME!!!")
                                return redirect(url_for("model_dashboard"))
                            
                            elif not allowed_extension(file.filename, app.config['ALLOWED_IMAGE_EXTENSIONS']):
                                print("THAT EXTENSION IS NOT ALLOWED")
                                return redirect(url_for("model_dashboard"))
                            
                            else:
                                npimg = np.fromstring(file.read(), np.uint8)
                                pimg = cv2.imdecode(npimg, cv2.IMREAD_COLOR)
                                imgs.append((pimg, get_f_name(file.filename)))
                        
                        mname = d['mname']
                        mdt = d['mdt']
                        fr = FaceRecognition()
                        jsondata = fr.batch_register_face_web(imgs, key=fr.get_rand_string(length=100))

                        
                        jm = jmods(session['username'], mname, jsondata, mdt)
                        db.session.add(jm)
                        db.session.commit()
                        
                return redirect(url_for("model_dashboard"))

            @app.route("/model-inference-live", methods=["GET", "POST"])
            def model_inference():
                if session['username']:
                    return render_template("model_inference.html")
                else:
                    return(redirect(url_for("sign_in")))

            @app.route("/model-inference", methods=["GET", "POST"])
            def mif():
                if session['username']:
                    models = jmods.query.filter_by(created_by=session['username']).all()
                    return render_template("model_inference_form.html", models=models)
                else:
                    return(redirect(url_for("sign_in")))

            @app.route("/code-explanation")
            def code_explanation():
                if session['username']:
                    return render_template("explanation.html")
                else:
                    return(redirect(url_for("sign_in")))


            @app.route("/reflection")
            def reflection():
                if session['username']:
                    return render_template("reflection.html")
                else:
                    return(redirect(url_for("sign_in")))


            @app.route("/about-project")
            def about():
                if session['username']:
                    return render_template("about.html")
                else:
                    return(redirect(url_for("sign_in")))

            @app.route("/login", methods=["GET", "POST"])
            def login():

                if request.method == "POST":
                    #session.permanent = True
                    d = request.form.to_dict()

                    u = d['uname']
                    p = d['pwd']

                    hasher = hashlib.sha3_256()
                    hasher.update(str.encode(p))
                    phash = hasher.digest()

                    hasher.update(str.encode(u))
                    uhash = hasher.digest()

                    found_user = users.query.filter_by(email=uhash).first()

                    if found_user:
                        if phash == found_user.pwh:
                            session["username"] = found_user.email
                            return(redirect(url_for("index")))
                        else:
                            return(redirect(url_for("sign_in")))
                    else:
                        return(redirect(url_for("sign_in")))

                return(redirect(url_for("sign_in")))

            @app.route("/sign-in")
            def sign_in():
                return render_template("sign_in.html")

            @app.route("/add-user", methods=["GET", "POST"])
            def add_user():

                if request.method == "POST":
                    d = request.form.to_dict()

                    u = d['uname']
                    p = d['pwd']

                    hasher = hashlib.sha3_256()
                    hasher.update(str.encode(p))
                    phash = hasher.digest()

                    hasher.update(str.encode(u))
                    uhash = hasher.digest()

                    found_user = users.query.filter_by(email=uhash).first()

                    if found_user:
                        print("Invalid Email, already user with that email")
                        return(redirect(url_for("sign_up")))
                    else:

                        usr = users(uhash, phash)
                        db.session.add(usr)
                        db.session.commit()
                        return(redirect(url_for("sign_in")))

                        
                else:
                    return(redirect(url_for("sign_up")))

            @app.route("/sign-up")
            def sign_up():
                return render_template("sign_up.html")

            @app.route("/logout", methods=["GET", "POST"])
            def logout():
                if request.method == "POST":
                    session['username'] = None
                return(redirect(url_for("index")))


            @app.route("/set-session-model", methods=["GET", "POST"])
            def set_session_model():
                if request.method == "POST":
                    s = request.form.get("model-select")
                    model = jmods.query.filter_by(created_by=session['username'], mname=s).first()

                    if model:
                        session['umodi'] = model._id

                        return(redirect(url_for("model_inference")))
                    return(redirect(url_for("mif")))
                    
                return(redirect(url_for("mif")))


            @app.route("/remove-model", methods=["GET", "POST"])
            def remove_model():
                if request.method == 'POST':
                    name = list(request.form.keys())[0]
                    model = jmods.query.filter_by(created_by=session['username'], mname=name).first()
                    db.session.delete(model)
                    db.session.commit()

                    return(redirect(url_for("model_dashboard")))

                return(redirect(url_for("model_dashboard")))

            @app.route("/remove-user", methods=["GET", "POST"])
            def remove_user():
                if request.method == "POST":
                    username = users.query.filter_by(email=session['username']).first()
                    db.session.delete(username)
                    db.session.commit()
                    return(redirect(url_for("sign_up")))
                return redirect(url_for("index"))

            def run_app():
                db.create_all()
                app.run()

            if __name__ == "__main__":
                run_app()

        </pre>
        <h5>And that is the code that renders this web page! index.html!</h5>
        <h3>&nbsp;</h3>
        <h5>And now for the utils.py file with the function that runs face recog:</h5>
        <pre class="prettyprint">
            import cv2
            from face_recognition import OnWebFaceRecognition, draw_annotation
            import numpy as np

            def generate_frames(mjson, mdt):
                camera = cv2.VideoCapture(0)
                fr = OnWebFaceRecognition(json_data=mjson, face_detection_threshold=mdt)
                while True:
                    success, frame = camera.read()
                    if not success:
                        break
                    else:
                        smaller_frame = cv2.cvtColor(cv2.resize(frame, (0, 0), fx=0.5, fy=0.5), cv2.COLOR_BGR2RGB)
                        try:
                            matches = fr.recognize_faces(
                                image=smaller_frame, threshold=0.6, bboxes=None
                            )
                            for face_bbox, match, _ in matches:
                                name = match["name"] if match is not None else "Unknown"
                                draw_annotation(frame, name, int(1 / 0.5) * np.array(face_bbox))

                        except Exception:
                            pass
                        _, buffer = cv2.imencode(".jpg", frame)
                        frame = buffer.tobytes()
                    yield (b'--frame\r\n'
                        b'Content-type: image/jpeg\r\n\r\n' + frame + b'\r\n')

            def allowed_extension(filename, allowed_extensions):
                if not "." in filename:
                    return False
                else:
                    ext = filename.rsplit(".", 1)[1]
                    if ext.upper() in allowed_extensions:
                        return True
                    else:
                        return False

            def get_f_name(filename):
                if not "." in filename:
                    raise Exception
                else:
                    name = filename.split(".")[0]
                return name
        </pre>
    </div>
</div>
{%endblock%}