{% extends "base.html" %}
{% block tcontent%}SAASGo | Home{%endblock%}
{% block content%}
<h1 class="shadow" >Presentation</h1>
<h2>&nbsp;</h1>
<h2> SAAS Go, by Thomas Gust</h1>
<img src="static/cardinal.png" style="width:300px;height:300px;">
<h2>&nbsp;</h2>
<h2 class="shadow" >The Problem</h2>
<div class="a">
    <div>
    <h5>The lunch line at SAAS is quite slow. Most of the time in the lunch line comes from people needing to scan their cards at the front, or forgetting their cards entirely and needing to put in their number.</h5>
    <img src="static/TRUECOPYCARD.jpg">
    </div>
    <div>
    <h5>SAASGo aims to fix this problem by utilizing cutting edge AI technology, and the emulation of Amazon Go stores (I'm really bad at naming things).</h5>
    </div>
    <h5>Students only need to give one image of their face to the SAASGo system, and they will never need to scan those pesky cards again!</h5>
    <div>
    <h5>&nbsp;</h5>
    <h5>Do I have any volunteers for a demonstration?</h5>
    </div>
    <img src="static/ThomasBeingDetected.png" style="width:500;height:300px;">
</div>

<h3 class="shadow"> Prototype 1</h3>
<div>

</div>
<h3 class="shadow"> Prototype 2</h3>
<div>

</div>
<h3 class="shadow"> Prototype 3</h3>
<div>

</div>
<h3 class="shadow">Final Model</h3>
<div>

</div>
{%endblock%}