{% extends "base.html" %}
{% block tcontent%}SAASGo | Model Inference{%endblock%}
{% block content%}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <!-- Example single danger button -->
        <h1>Model Inference</h1>
        <form method="post" action="/model-inference">
            <input class="btn btn-primary" type="submit" value="Stop" >
        </form>
        <div id="container">
            <div>
            <video autoplay="true" id="videoElement"></video>
                <canvas id="canvasElement"></canvas>

                <img id="photo" src="{{ url_for("video-feed") }}">
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block ejsimports %}
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
{% endblock %}
