<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>SAASGo | Sign In</title>
    </head>
<body>
    <form action="{{ url_for('add_user') }}" method="POST">
        <div class="form-outline mb-4">
        <input type="email" name="uname" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
        </div>
    
        <div class="form-outline mb-4">
        <input type="password" name="pwd" id="form2Example2" minlength=8 class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
        </div>
    
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        <p>Already have an account? <a href="/sign-in">Sign In</a></p>
    </form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>

</html>